/**
 * Chart styling and classes
 */

#chartContainer {
    border: 1px solid white;
}

#chart {
    background-color: black;
    margin: 0 auto;
}

.tile-2 {
    width: 100% * (1/6);
}

.tile-3 {
    width: 100% * (1/10);
}

.tile-4 {
    width: 100% * (1/14);
}

#titles {
    display: flex;
    flex-direction: column;
}

.title {
    background: transparent;
    border: none;
    color: white;
}

#chartList {
    height: 25vh;
}

.chart-item {
    height: 50px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        cursor: pointer;
        color: gray;
    }
}
