/**
 * Chart styling and classes
 */

#chart {
    background-color: black;
    padding: 25px;
    border: 1px solid white;
    margin: 0 auto;
}

.tile {
    padding: 5px;
}

.tile-1 {
    width: 20%;
}

.tile-2 {
    width: (1/6) * 100%;
}

.tile-3 {
    width: 10%;
}

.tile-4 {
    width: (1/14) * 100%;
}

#chartList {
    height: 30vh;
    overflow: auto;
}

.chart-item {
    height: 50px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        cursor: pointer;
        color: gray;
    }
}
