/**
 * Bootstrap class overwrites
 */

.dropdown-menu {
    padding: 0;
    border-radius: 0;
    border: 1px solid black;
}

.dropdown-item {
    padding: 10px;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
