/**
 * Bootstrap class overwrites
 */

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: 1px solid black;
}

.dropdown-item {
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

.modal-content {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 0;
}

.close span {
  color: white;
}
