/**
 * Elements and classes
 */

body {
    background-color: black;
}

#container {
    min-height: 100vh;
}

aside {
    width: 25vw;
}

main {
    width: 75vw;
}

.hr-border {
    border: 1px dashed white;
}

#results {
    max-height: 40vh;
    img {
        width: 50%;
    }
}
